
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkinda</title>
</head>
<body>
    <div> 
        Home/Hakkinda
    </div>
</body>
</html>
