/*Pseudo Element*/
/*Pseudo Class*/


p::first-line{
    color: brown;
}

ul li:first-child{
    color: red;
}

p::before{
    content: "";
    display: block;
    color: rgb(162, 35, 212);
    
    padding: 10px;
}

ul li:nth-last-of-type(even){
    border: 2px solid
    green;
}

ul li:nth-last-of-type(odd){
    border: 2px solid
    blue;
}

li{
    width: 100px;
    padding: 3px;
    margin: 3px;
}

a {
    padding: 5px 8px;
    text-decoration:
    none;
    display: block;
    width: 80px;
    border: 1px solid
    gray;
    margin-bottom:
    10px;
}

a:link{
    color:red;
}

a:visited{
    color:gray;
}

a:hover{
    color:white;
    background: green;
}

a:active{
    color:green;
    background-color: gold;
}